.lobby{
  display:flex;
  justify-content: center;
  height:80%;
  overflow:hidden;
  margin: 0 auto;
}

.userlistBox{
  width:50%;
  margin: 0 auto;
}

.lobby-child{
  width:100%;
  display:flex;
  margin:auto;
}
.users{
  position:relative;
  background-color:rgba(255, 255, 255);
  border: 2px solid rgb(116, 116, 116);
  border-radius: 5px;
  width:100%;
  color:gray;
  font-family:"Noto Sans JP";
  white-space:nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  padding:5px 0px;
  margin-bottom:20px;
}

.number{
  color:rgb(58, 58, 58);
  padding:20px;
  border-right:2px solid rgb(116, 116, 116);
}

.username{
  padding:20px;
}

.none{
  background-color:rgb(168, 168, 168);
}

.gameStartBox{
  font-family:"Noto Sans JP";
  text-align:center;
  margin: 0 auto;
}

.invitationID{
  font-size:40px;
  letter-spacing:3px;
  padding:10px 100px;
  background-color:rgb(255, 255, 255);
}

.leaveButton{
  padding-top:5px;
  text-align:right;
  background-color:rgb(233, 233, 233);
  border: 2px solid rgb(175, 175, 175);
  border-radius: 5px;
  width:120px;
  padding-right:15px;
  margin:20px;
  transition:0.5s;
}

.leaveButton:hover{
  background-color:rgb(215, 215, 215);
  padding-right:25px;
}