.lobby{
  display:flex;
  justify-content: center;
  height:85%;
  overflow:hidden;
  margin: 0 auto;
}

.userlistBox{
  width:50%;
  margin: 0 auto;
  
}

.lobby-child{
  width:100%;
  display:flex;
  margin:auto;
}

.users{
  position:relative;
  display: block;
  background-color:rgba(255, 255, 255);
  border:solid rgba(107, 107, 107, 0.4);
  border-width:1px 10px 1px 10px;
  width:100%;
  color:gray;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding:5px 0px;
  margin-bottom:25px;
}

.users p{
  position:relative;
}
.number{
  font-size:40px;
  position:absolute;
  color:rgb(58, 58, 58);
  padding:5px 15px;
  border:1px solid rgb(116, 116, 116);
  background-color:rgb(255, 255, 255);
  top: -15px;
  left: -20px;
}

.username{
  padding-left:60px;
  font-family:"Noto Sans JP";
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  display:block;
}

.none{
  background-color:rgb(168, 168, 168);
}

.gameStartBox{
  text-align:center;
  margin: 0 auto;
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameStart-child{
  width:100%;
}
.invhead{
  font-size:45px;
  padding:5px 15px;
  width:80%;
  margin:0 auto;
  color:rgb(100, 100, 100);
}

.invitationID{
  font-family:"Noto Sans JP";
  font-size:50px;
  letter-spacing:2px;
  margin-top:10px;
  padding:10px 30px;
  border:solid rgba(107, 107, 107, 0.4);
  border-width:1px 20px 1px 20px;
  background-color:rgb(255, 255, 255);
  color:rgb(90, 90, 90);
}

.leaveButton{
  position:absolute;
  left:0;
}

.startButton{
  padding-top:5px;
  text-align:right;
  background-color:rgb(233, 233, 233);
  border: 2px solid rgb(175, 175, 175);
  border-radius: 5px;
  width:260px;
  padding-right:25px;
  margin:20px;
  transition:0.5s;
}

.startButton:hover{
  background-color:rgb(215, 215, 215);
  padding-right:15px;
}

.buttonCheck{
  position:absolute;
  height:40px;
  margin:-20px 0px 0px 10px;
}

.crown img{
  position:absolute;
  bottom:35px;
  left:-35px;
  height:30px;
}

@media screen and (max-width: 1170px) {
  .lobby-child{
    display:block;
  }

  .userlistBox{
    width:80%;
  }

  .gameStartBox{
    width:90%;
  }

  .users{
    margin-bottom:2px;
  }

  .invhead{
    font-size:45px;
    padding:5px 15px;
  }

  .invitationID{
    font-size:30px;
    margin-top:0px;
  }

  .invhead{
    font-size:3rem;
  }

  .leaveButton{
    margin:0 auto;
  }
}

@media screen and (max-width: 600px) {
  .lobby-child{
    padding-top:55px;
  }

  .username{

  }
}