.rules{
  margin:0 auto;
  width:80%;

}

.rulesBox{
  width:45%;
  margin:auto;
  
}

.inRule{
  padding:20px;
  font-family: "Noto Sans JP";
  background-color:rgba(0, 0, 0, 0.2);
  color:white;
  height:40rem;

}

.inRule h3{
  text-align:center;
}

.inRule p{
  text-align:center;
  font-size:0px;
  padding:10px;
  line-height:40px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "Noto Sans JP"!important;
  color: rgb(250, 250, 250)!important;
}

.slick-prev, .slick-next{
  background-color:rgb(172, 172, 172)!important;
  height:100%!important;
}

.slick-prev:hover, .slick-next:hover{
  background-color:rgb(148, 148, 148)!important;
}

.slick-dots li button:before{
  font-size:15px!important;
}

.rule-text{
  font-size:20px;
  text-align:center;
}

.rule-image{
  height:200px;
  margin:0 auto;
  margin:20px 0px;
}

.rule-image img{
  display:block;
  margin:0 auto;
  height:200px;
}

@media screen and (max-width: 600px) {
  
  .rule-image{
    height:100px;
    margin:0 auto;
    margin:0px 0px;
  }
  
  .rule-image img{
    display:block;
    margin:0 auto;
    height:100px;
  }
  
}


