.rules{
  margin:0 auto;
  width:80%;
}

.rulesBox{
  width:45%;
}
.rules h1{
  text-align:center;
}

.inRule{
  padding:20px;
  font-family: "Noto Sans JP";
  background-color:rgba(0, 0, 0, 0.2);
  color:white;
  height:40vh;
}

.inRule h3{
  text-align:center;
}

.inRule p{
  font-size:20px;
  padding:10px;
  line-height:40px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "Noto Sans JP"!important;
  color: rgb(250, 250, 250)!important;
}

.slick-prev, .slick-next{
  background-color:rgb(172, 172, 172)!important;
  height:100%!important;
}

.slick-prev:hover, .slick-next:hover{
  background-color:rgb(148, 148, 148)!important;
}

.slick-dots li button:before{
  font-size:15px!important;
}