.top{
  display:flex;
  justify-content: center;
  height:70%;
  overflow:hidden;
  white-space:nowrap;
  margin: 0 auto;
}

.title{
  position:relative;
  background-image: url('../images/washi.jpg');
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  border:solid rgba(107, 107, 107, 0.4);
  border-width:5px 35px 5px 35px;
  border-collapse:separate;
  margin-top:15px;
}

.title img{
  display:block;
  margin: 0 auto;
  width:30%;
  padding:25px;
}

input::placeholder{
  color:rgba(0, 0, 0, 0.3)
}

.top input{
  height:65px;
  background-color:rgba(255, 255, 255, 0.5);
  border: 4px solid rgb(175, 175, 175);
  border-radius: 5px;
  width:80%;
  margin-bottom:10px;
}

.modalBox{
  margin: auto;
}

.modal input{
  background-color:rgba(255, 255, 255, 0.5);
  border: 4px solid rgb(175, 175, 175);
  border-radius: 5px;
  vertical-align:top;
  height:65px;
}

.lobbyButton{
  background-color:rgb(233, 233, 233);
  border: 2px solid rgb(175, 175, 175);
  border-radius: 5px;
  width:200px;
  padding:10px;
  margin:10px;
  transition:0.5s;
}

.lobbyButton:hover{
  background-color:rgb(215, 215, 215);
}

.startBox{
  width:50%;
  text-align:center;
  position:relative;
  display: flex;
}

.start-child{
  margin: auto;
}

.modalEnterRoom{
  background-color:rgb(233, 233, 233);
  border: 2px solid rgb(175, 175, 175);
  border-radius: 5px;
  vertical-align:top;
  padding:10px 20px;
  margin-left:20px;
  height:65px;
  transition:0.5s;
  width: 200px;
}

.modalEnterRoom:hover{
  background-color:rgb(215, 215, 215);
}

.loaderBox{
  text-align:center;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 75%;
  display: inline-block;
  border-top: 3px solid rgb(92, 92, 92);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

