@font-face {
  font-family: 'jp-font';
  src: url(../fonts/AoyagiKouzanTOTF.woff),
    url(../fonts/AoyagiKouzanTOTF.woff2);
}

body {
  margin: 0;
  font-size:30px;
  font-family: -apple-system, BlinkMacSystemFont, 'jp-font', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


