.header{
  display:flex;
  padding:20px;
  background-color:#f1f1f1;
  background-clip: padding-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  vertical-align: top;
  position:relative;
  height:15%;
  overflow: hidden;
}

.doneCount{
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
  border: 2px solid #c9c9c9;
  
  padding:0px 30px;
  height:60px;
}

.doneCount img{
  height:40px;
  padding-right:20px;
}

.reciteHeader{
  height:75px;
  background-color:#f1f1f1;
  background-clip: padding-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0px 0px;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reciteHeader h1{
  text-align:center;
  font-size:60px;
}

.headerBox{
  display:flex;
  width:95%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}