.header{
  display:flex;
  padding:20px;
  background-clip: padding-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  
}

.doneCount{
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
  border: 2px solid #c9c9c9;
  border-radius:10px;
  padding:0px 30px;
}

.doneCount img{
  height:40px;
  padding-right:20px;
}