.recite-userlistBox {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 5px solid rgba(0, 0, 0, 0.3);
}

.userlistBoxItem {
  width: 80%;
  margin: 0 auto;
}

.haiku-recite {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

.reciteHaikuBox {
  width: 95%;
  margin: 0 auto;
}

.recite-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  position: relative;
}


.reciteHeader {
  display: flex;
  padding: 20px;
  background-color: #f1f1f1;
  background-clip: padding-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0px 0px;
  vertical-align: top;
  position: relative;
  height: 15%;
  overflow: hidden;
}

.timer {
  overflow: hidden;
}

.reciteHaikuShowBox{
  writing-mode: vertical-rl;
  text-orientation:upright;
  margin: 0 auto;
}

.gamehead{
  font-size:60px;
  border:solid rgba(107, 107, 107, 0.4);
  border-width:4px 10px 4px 10px;
  border-collapse:separate;
  background-color:rgb(245, 245, 245);
  padding:30px 5px 5px 5px;
}

.gamehead-none{
  font-size:60px;
  border:solid rgba(107, 107, 107, 0);
  border-width:4px 10px 4px 10px;
  border-collapse:separate;
  padding:30px 5px 5px 5px;
}

.dai-text{
  padding-top:30px;
  padding-left:20px;
  padding-right:20px;
  font-family:"Noto Sans JP";
  font-size:25px;
}


.haikuUser{
  background-color:rgba(0, 0, 0, 0.3);
  width:100%;
  position:absolute;
  text-align:center;
  top:0;
  font-family:"Noto Sans JP";
  white-space: nowrap;
  color:rgb(255, 255, 255);
  font-size:20px;
  padding:5px 0px;
}

.haikuUser span{
  font-size:30px;
  padding-right:5px;
}

.reciteStart{
  background-color:rgba(0, 0, 0, 0.3);
  position: relative;
  width: 60%;
  height: 100%;

}

.startText{
  white-space: nowrap;
  font-family:"Noto Sans JP";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color:white;
  text-align:center;
  font-size:25px;
}

.startText h1{
  font-size:50px;
  margin-bottom:30px;
}

.startText span{
  color:rgb(240, 240, 240);
  font-size:28px;
}

.soundAttentionBox{
  margin-top:25px;
  margin-bottom:50px;
}
.soundAttention{
  font-size:16px;
  color:rgb(235, 235, 235)
}

.recite-haikuShow{
  padding-right:10px;
  padding-top:20px;
}
.recite-haikuShow span{
  display: inline-block;
  width: 55px;
  height: 55px;
  text-align:center;
  line-height: 70px;
  font-family:"Noto Sans JP";
  font-size:45px;
  margin-top:4px;
  color:rgb(0, 0, 0)
}